/*MISC*/
/*spacings*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300;400;500;700&display=swap");
.spacing-large {
  padding: 6rem; }

.spacing-medium {
  padding: 2.4rem; }

.spacing-medium-extra {
  padding: 2rem; }

.spacing-small {
  padding: 1rem; }

.spacing-xsmall {
  padding: 0.5rem; }

/*font-family*/
/*Font-Sizes*/
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* rem y em = miden 10px*/ }

/*Generals*/
body {
  height: 100%;
  background-color: #8f88bf;
  font-family: "Montserrat", sans-serif;
  color: #f2f2f2; }

h1, h2, h3, h4, h6 {
  font-family: "Quicksand", sans-serif; }

h3 {
  font-size: 2.5rem;
  text-align: center; }

.section__titulo {
  text-align: center;
  margin: 30px;
  font-size: 4rem;
  padding: 0.5rem;
  font-size: 4rem; }

p {
  font-size: 1.5rem;
  text-align: center; }

img {
  width: 100%; }

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: center;
  height: 600px;
  padding: 0.5rem; }

/*PARTIALS*/
.container-fluid {
  font-family: 'Quicksand', sans-serif; }

/*VIEWS*/
/*HEADER*/
.navbar .container-fluid {
  font-family: "Quicksand", sans-serif; }

/*NOVEDADES*/
.novedades .card-title {
  font-weight: bold;
  font-size: 1.5rem; }

.novedades .card-text {
  text-align: justify;
  font-weight: bold;
  font-size: 1.3rem; }

/*ENFOQUE*/
#enfoque {
  height: 600px;
  /*HACEMOS*/
  /*CONTACTO*/
  flex-flow: row wrap;
  width: 100%;
  height: 600px;
  background-image: url(../IMG/layered-peaks-haikei.png);
  background-repeat: no-repeat;
  background-size: 100%; }
  #enfoque .container .detalle .detalle__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 400px;
    height: 300px; }
    #enfoque .container .detalle .detalle__texto .detalle__descripcion {
      text-align: justify; }
  #enfoque .container .loop__logo .loop__video {
    width: 500px;
    height: 300px; }
  #enfoque #nosotras {
    height: 600px; }
  #enfoque .row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem; }
    #enfoque .row .job-item {
      overflow: hidden;
      position: relative; }
    #enfoque .row .p-0 {
      padding: 0 !important; }
  #enfoque .container .ubicacion {
    display: inline-block;
    width: 40%; }
    #enfoque .container .ubicacion .formulario {
      display: inline-block;
      width: 40%; }
  #enfoque .formulario .formulario__casillas .form__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  #enfoque .formulario .boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

/*NOVEDADES*/
.novedades .card-title {
  font-weight: bold;
  font-size: 1.5rem; }

.novedades .card-text {
  text-align: justify;
  font-weight: bold;
  font-size: 1.3rem; }

#nosotras {
  height: 600px; }
  #nosotras .equipo__descripcion {
    padding: 2rem; }
    #nosotras .equipo__descripcion .buton .btn, #nosotras .equipo__descripcion .buton .btn__contacto, #nosotras .equipo__descripcion .buton .btn__leermas {
      width: 150px;
      padding: 10px 12px; }
    #nosotras .equipo__descripcion .buton .btn__contacto {
      background-color: black; }
      #nosotras .equipo__descripcion .buton .btn__contacto:hover {
        background-color: #3b3737; }
    #nosotras .equipo__descripcion .buton .btn__leermas {
      background-color: #3b3737;
      color: white;
      font-weight: bold; }
      #nosotras .equipo__descripcion .buton .btn__leermas:hover {
        background-color: black; }

/*HACEMOS*/
.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }
  .row .job-item {
    overflow: hidden;
    position: relative; }
    .row .job-item img {
      width: 100%;
      height: auto; }
  .row .p-0 {
    padding: 0 !important; }

/*CONTACTO*/
#contacto {
  flex-flow: row wrap;
  padding: 1rem;
  width: 100%;
  height: 600px; }
  #contacto .container .ubicacion {
    display: inline-block;
    width: 40%; }
    #contacto .container .ubicacion.formulario {
      display: inline-block;
      width: 40%; }
  #contacto .formulario .formulario__casillas .form__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  #contacto .formulario .boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

/*MEDIAS*/
/*MEDIA 320PX*/
@media screen and (min-width: 320px) and (max-width: 576px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 600px; }
  .section__titulo {
    text-align: center;
    margin: 10px;
    padding: 0.5rem;
    font-size: 2rem; }
  #enfoque {
    height: 700px; }
    #enfoque .container .detalle .detalle__texto {
      display: flex;
      align-items: center;
      width: 250px;
      height: 150px;
      padding: 1rem; }
      #enfoque .container .detalle .detalle__texto .detalle__descripcion {
        text-align: justify;
        font-size: 1.3rem; }
    #enfoque .container .loop__logo .loop__video {
      width: 300px;
      height: 200px; }
  /*NOSOTRAS*/
  #nosotras {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #nosotras .container .equipo {
      display: flex;
      justify-content: center; }
      #nosotras .container .equipo .equipo__ella {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #nosotras .container .equipo .equipo__ella .ella__img {
          width: 200px; }
      #nosotras .container .equipo .equipo__descripcion {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 120px; }
        #nosotras .container .equipo .equipo__descripcion .equipo__titulo {
          font-size: 1.5rem; }
        #nosotras .container .equipo .equipo__descripcion .equipo__profesion {
          font-size: 1.3rem; }
  /*HACEMOS*/
  .hacemos__container {
    height: 800px; }
  /*CONTACTO*/
  #contacto {
    display: flex;
    flex-flow: row column;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    width: 100%;
    background-color: black;
    background-image: none; }
    #contacto .container {
      height: 500px; }
      #contacto .container .ubicacion {
        width: 320px; }
        #contacto .container .ubicacion .ubicacion__direccion {
          width: 200px;
          display: inline; }
          #contacto .container .ubicacion .ubicacion__direccion p {
            font-size: 1rem; }
          #contacto .container .ubicacion .ubicacion__direccion h3 {
            font-size: 1.5rem; }
      #contacto .container .formulario {
        display: flex;
        justify-content: center;
        width: 320px;
        padding: 1rem; }
        #contacto .container .formulario h3 {
          font-size: 1.5rem; }
        #contacto .container .formulario .form__text {
          font-weight: bold; }
        #contacto .container .formulario .boton {
          font-weight: bold; } }

/*MEDIA 576PX*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 400px; }
  .section__titulo {
    text-align: center;
    margin: 10px;
    padding: 0.5rem;
    font-size: 2.5rem; }
  /*NOSOTRAS*/
  #NOSOTRAS.container {
    display: flex;
    justify-content: center; }
    #NOSOTRAS.container .equipo {
      width: 250px; }
      #NOSOTRAS.container .equipo__ella {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #NOSOTRAS.container .equipo__ella__img {
          width: 250px; }
        #NOSOTRAS.container .equipo__ella__descripcion {
          width: 200px;
          display: flex;
          flex-direction: column;
          height: 120px; }
        #NOSOTRAS.container .equipo__ella__titulo {
          font-size: 2.5rem; }
        #NOSOTRAS.container .equipo__ella__profesion {
          font-size: 1.5rem; }
  /*HACEMOS*/
  .hacemos__container {
    height: 1000px; } }
