/*MISC*/
/*spacings*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300;400;500;700&display=swap");
.spacing-large {
  padding: 6rem; }

.spacing-medium {
  padding: 2.4rem; }

.spacing-medium-extra {
  padding: 2rem; }

.spacing-small {
  padding: 1rem; }

.spacing-xsmall {
  padding: 0.5rem; }

/*font-family*/
/*Font-Sizes*/
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* rem y em = miden 10px*/ }

/*Generals*/
body {
  height: 100%;
  background-color: #0D0038;
  font-family: "Montserrat", sans-serif;
  color: #f2f2f2; }

h1, h2, h3, h4, h6 {
  font-family: "Quicksand", sans-serif; }

h3 {
  font-size: 2.5rem;
  text-align: center; }

.section__titulo {
  text-align: center;
  margin: 30px;
  font-size: 4rem;
  padding: 0.5rem;
  font-size: 4rem; }

p {
  font-size: 1.5rem;
  text-align: center; }

img {
  width: 100%; }

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: center;
  height: 500px;
  padding: 0.5rem; }

/*PARTIALS*/
.container-fluid {
  font-family: 'Quicksand', sans-serif; }

/*VIEWS*/
/*HEADER*/
.navbar .container-fluid {
  font-family: "Quicksand", sans-serif; }

/*NOVEDADES*/
#novedades .novedades .card-title {
  font-weight: bold;
  font-size: 1.5rem; }

#novedades .novedades .card-text {
  text-align: justify;
  font-weight: bold;
  font-size: 1.3rem; }

/*ENFOQUE*/
#enfoque {
  height: 600px; }
  #enfoque .container .detalle .detalle__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 600px;
    height: 340px; }
    #enfoque .container .detalle .detalle__texto .detalle__descripcion {
      text-align: justify; }
  #enfoque .container .loop__logo .loop__video {
    width: 500px;
    height: 300px; }

#nosotras {
  height: 750px; }
  #nosotras .equipo {
    height: 300px; }

/*HACEMOS*/
#hacemos .row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }
  #hacemos .row .job-item {
    overflow: hidden;
    position: relative; }
  #hacemos .row .p-0 {
    padding: 0 !important; }

/*NOVEDADES*/
h1 {
  padding: 2rem; }

#novedadesdos {
  color: black;
  font-weight: bold; }
  #novedadesdos .card-title {
    font-weight: bold; }
  #novedadesdos p {
    text-align: justify; }

#nosotras {
  height: 750px; }
  #nosotras .equipo__descripcion {
    padding: 2rem; }
    #nosotras .equipo__descripcion .buton .btn, #nosotras .equipo__descripcion .buton .btn__contacto, #nosotras .equipo__descripcion .buton .btn__leermas {
      width: 100px;
      padding: 5px 8px;
      margin: 0%; }
    #nosotras .equipo__descripcion .buton .btn__contacto {
      background-color: #433c70;
      color: #f2f2f2; }
      #nosotras .equipo__descripcion .buton .btn__contacto:hover {
        background-color: #2a1b8c; }
    #nosotras .equipo__descripcion .buton .btn__leermas {
      background-color: #2a1b8c;
      color: #f2f2f2;
      font-weight: bold; }
      #nosotras .equipo__descripcion .buton .btn__leermas:hover {
        background-color: #433c70; }

/*HACEMOS*/
.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }
  .row .job-item {
    overflow: hidden;
    position: relative; }
    .row .job-item img {
      width: 100%;
      height: auto; }
  .row .p-0 {
    padding: 0 !important; }

.hacemos__card {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold; }
  .hacemos__card .card-title {
    font-weight: bold; }
  .hacemos__card .card-text {
    font-weight: bold;
    text-align: justify; }

/*CONTACTO*/
#contacto .container {
  flex-flow: row wrap;
  height: 450px; }
  #contacto .container.ubicacion {
    display: inline-block;
    width: 40%;
    text-align: justify; }
    #contacto .container.ubicacion.formulario {
      display: inline-block;
      width: 40%; }
  #contacto .container .formulario .formulario__casillas .form__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  #contacto .container .formulario .boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

#proximamente {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background-color: #0D0038; }
  #proximamente .textprox {
    text-align: center;
    padding: 3rem; }
  #proximamente .contentprox .imgprox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 634px;
    flex-wrap: nowrap;
    width: 600px;
    align-content: stretch; }

#artbody h1 {
  text-align: center;
  color: black; }

#artbody .articulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  #artbody .articulo .arttext {
    height: 855px;
    width: 900px;
    text-align: justify;
    color: black;
    font-size: medium;
    font-weight: bold; }
    #artbody .articulo .arttext .p1 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p3 {
      padding: 0 0 2rem 0; }
    #artbody .articulo .arttext .p4 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p5 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p6 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p7 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p8 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p9 {
      padding: 2rem 0; }
    #artbody .articulo .arttext .p10 {
      padding: 2rem 0; }

#artbody {
  background-color: #c9c6c6; }
  #artbody h1 {
    text-align: center;
    color: black; }
  #artbody .articulo .pcero {
    padding: 1rem 0; }
  #artbody .articulo .puno {
    padding: 1rem 0; }
  #artbody .articulo .pdos {
    padding: 1rem 0; }
  #artbody .articulo .ptres {
    padding: 2rem;
    font-style: italic;
    font-size: small; }
  #artbody .articulo .pcuatro {
    padding: 1rem 0; }
  #artbody .articulo .pcinco {
    padding: 1rem 0; }
  #artbody .articulo .pseis {
    padding: 1rem 0; }
  #artbody .articulo .psiete {
    padding: 1rem 0; }
  #artbody .articulo .pocho {
    padding: 1rem 0; }
  #artbody .articulo .pnueve {
    padding: 1rem 0; }
  #artbody .articulo .pdiez {
    padding: 1rem 0; }

/*MEDIAS*/
/*MEDIA 320PX*/
@media screen and (min-width: 200px) and (max-width: 576px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 530px; }
  .section__titulo {
    text-align: center;
    margin: 10px;
    padding: 0.5rem;
    font-size: 2rem; }
  #enfoque {
    height: 500px; }
    #enfoque .container .detalle .detalle__texto {
      display: flex;
      align-items: center;
      width: 300px;
      height: 213px;
      padding: 1rem; }
      #enfoque .container .detalle .detalle__texto .detalle__descripcion {
        text-align: justify;
        font-size: xx-small;
        height: 300px; }
    #enfoque .container .loop__logo .loop__video {
      width: 300px;
      height: 200px; }
  /*NOSOTRAS*/
  #nosotras {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 650px; }
    #nosotras .container .equipo {
      display: flex;
      justify-content: center; }
      #nosotras .container .equipo .equipo__ella {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 332px; }
        #nosotras .container .equipo .equipo__ella .ella__img {
          width: 200px; }
      #nosotras .container .equipo .equipo__descripcion {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 70px;
        padding: 0; }
        #nosotras .container .equipo .equipo__descripcion .equipo__titulo {
          font-size: 1.5rem; }
        #nosotras .container .equipo .equipo__descripcion .equipo__profesion {
          font-size: 1.3rem; }
  #hacemos .hacemos__container {
    height: 800px; }
  /*CONTACTO*/
  #contacto {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    width: 100%;
    background-color: black;
    background-image: none; }
    #contacto .container {
      height: 500px; }
      #contacto .container .ubicacion {
        width: 320px; }
        #contacto .container .ubicacion .ubicacion__direccion {
          width: 200px;
          display: inline; }
          #contacto .container .ubicacion .ubicacion__direccion p {
            font-size: 1rem; }
          #contacto .container .ubicacion .ubicacion__direccion h3 {
            font-size: 1.5rem; }
      #contacto .container .formulario {
        display: flex;
        justify-content: center;
        width: 320px;
        padding: 1rem; }
        #contacto .container .formulario h3 {
          font-size: 1.5rem; }
        #contacto .container .formulario .form__text {
          font-weight: bold; }
        #contacto .container .formulario .boton {
          font-weight: bold; }
  #proximamente .textprox {
    padding: 2rem; }
  #proximamente .contentprox .imgprox {
    height: 550px;
    width: 304px; } }

/*MEDIA 576PX*/
@media screen and (min-width: 577px) and (max-width: 1200px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 500px; }
  .section__titulo {
    text-align: center;
    margin: 10px;
    padding: 0.5rem;
    font-size: 2.5rem; }
  /*HACEMOS*/
  #enfoque {
    height: 600px; }
    #enfoque .container .detalle .detalle__texto {
      display: flex;
      align-items: center;
      width: 500px;
      height: 221px;
      padding: 1rem; }
      #enfoque .container .detalle .detalle__texto .detalle__descripcion {
        text-align: justify;
        font-size: x-small;
        width: 500px;
        height: 147px; }
    #enfoque .loop__logo .loop__video {
      width: 500px;
      height: 300px; }
  /*NOSOTRAS*/
  #nosotras .container {
    display: flex;
    justify-content: center;
    height: 500px; }
    #nosotras .container .equipo {
      width: 250px; }
      #nosotras .container .equipo__descripcion {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 120px; }
      #nosotras .container .equipo__titulo {
        font-size: 2.5rem; }
      #nosotras .container .equipo__profesion {
        font-size: 1.5rem; }
  /*HACEMOS*/
  #hacemos .hacemos__container {
    height: 1000px; }
  #proximamente .contentprox .imgprox {
    width: 550px; } }
