.container-fluid {
    .navbar-brand {
        .logo {
            width: 90%;
            max-width: 120px;
          }
    }
    .collapse {
        .nav-item{
            font-family: 'Montserrat', sans-serif;  
        }
    }
}



