/*CONTACTO*/

#contacto{

    .container {
        flex-flow: row wrap;
        height: 450px;
        &.ubicacion{ 
            display: inline-block;
            width: 40%;
            text-align: justify;
        &.formulario{
            display: inline-block;
            width: 40%;
            } 
        }
        .formulario {
            .formulario__casillas .form__text {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }
            .boton {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }
        }
    }
}
   

