/*CONTACTO*/
#contacto{
    flex-flow: row wrap;
    padding: $spacing-small;
    width: 100%;
    height: 600px;
    .container .ubicacion{ 
        display: inline-block;
        width: 40%;
    &.formulario{
        display: inline-block;
        width: 40%;
    } }
    .formulario {
        .formulario__casillas .form__text {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .boton {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
}

