/*HACEMOS*/
.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-medium-extra;
    .job-item{
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
    }
    .p-0{
        padding: 0!important;
    }
}

.hacemos__card{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
    .card-title {
        font-weight: bold;
    }
    .card-text {
        font-weight: bold;
        text-align: justify;
    }
}

    
