/*HEADER*/

.navbar .container-fluid {
    font-family: $font-title;
}
 /*NOVEDADES*/

#novedades {
    .novedades {
        .card-title{
            font-weight: bold;
            font-size: $text-base;
         }
         .card-text{
            text-align: justify;
            font-weight: bold;
            font-size: $text-small;
         }
    }
}


/*ENFOQUE*/
#enfoque {
    height: 600px;
    .container {
        .detalle {
            .detalle__texto {
                @include flex (row, center, center, 0);
                @include size (600px, 340px);
               .detalle__descripcion {
                text-align: justify;
                }
            }
        }
        .loop__logo {
            .loop__video {
                @include size (500px, 300px);
            }
        }
    }
}
   


#nosotras {
    height: 750px;
    .equipo {
        height: 300px;
    }
}

/*HACEMOS*/
#hacemos {
    .row {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding:  $spacing-medium-extra;
        .job-item{
            overflow: hidden;
            position: relative;
        }
        .p-0{
            padding: 0!important;
        }
    }
}


    
