#nosotras {
    height: 600px;
    .equipo__descripcion {
        padding: $spacing-medium-extra;
        .buton {
            .btn {
                width: 150px;
                padding: 10px 12px;
            }
            .btn__contacto {
                @extend .btn;
                background-color: black;
                &:hover {
                    background-color: rgb(59, 55, 55);
                }
            }
            .btn__leermas {
                @extend .btn;
                background-color: rgb(59, 55, 55);
                color: white;
                font-weight: bold;
                &:hover {
                    background-color: black;
                }
            }
        }
    }
}



