#nosotras {
    height: 600px;
    .equipo__descripcion {
        padding: 8px;
    }
}

@media screen and (min-width:320px) and (max-width:576px){
   /*NOSOTRAS*/

   #NOSOTRAS.container {
    display: flex;
    justify-content: center;
    .equipo__ella {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.equipo__img {
            width: 200px;
        }
     }
     .equipo__descripcion {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 120px;
    }
    .equipo__titulo {
        font-size: 20px;
    }
    .equipo__profesion {
        font-size: 15px;
    }
}   
}

@media screen and (min-width:576px) and (max-width:768px){
   /*NOSOTRAS*/

   #NOSOTRAS.container {
    display: flex;
    justify-content: center;
    .equipo {
        width: 250px;
        &__ella {
            display: flex;
            flex-direction: column;
            align-items: center;
        &__img {
                width: 250px;
        }
        &__descripcion {
            width: 200px;
            display: flex;
            flex-direction: column;
            height: 120px;
        }
        &__titulo {
            font-size: 20px;
        }
        &__profesion {
            font-size: 15px;
        } 
        }
    }
    
}   
}