/*NOVEDADES*/

.novedades {
    .card-title{
        font-weight: bold;
        font-size: $text-base;
     }
     .card-text{
        text-align: justify;
        font-weight: bold;
        font-size: $text-small;
     }
 }