#artbody{
    background-color: rgb(201, 198, 198);
    h1 {
        text-align: center;
        color:black
    }
    .articulo {
        .pcero {
            padding: 1rem 0;
        }
        .puno {
            padding: 1rem 0;
        }
        .pdos {
            padding: 1rem 0;
        }
        .ptres {
            padding: 2rem;
            font-style: italic;
            font-size: small;
        }
        .pcuatro {
            padding: 1rem 0;
        }
        .pcinco{
            padding: 1rem 0
        }
        .pseis {
            padding: 1rem 0
        }
        .psiete{
            padding: 1rem 0
        }
        .pocho {
            padding: 1rem 0
        }
        .pnueve {
            padding: 1rem 0
        }
        .pdiez {
            padding: 1rem 0
        }
    }
}