/*MEDIA 320PX*/
@media screen and (min-width:200px) and (max-width:576px){
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        padding: $spacing-xsmall;
        height: 530px;
    }
    .section__titulo {
        text-align: center;
        margin: 10px;
        padding: $spacing-xsmall;
        font-size: $text-medium-extra;
    
    }
    #enfoque {
        height:500px;
        .container {
            .detalle {
                .detalle__texto {
                display: flex;
                align-items: center;
                width: 300px;
                height: 213px;
                padding: $spacing-small;
               .detalle__descripcion {
                    text-align: justify;
                    font-size: xx-small; 
                    height: 300px; 
                }   
            }    
        }        
        .loop__logo {
            .loop__video {
                    width: 300px;
                    height: 200px;
                }
            }    
        }
    }
   
    /*NOSOTRAS*/

    #nosotras {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 650px;
        .container {
           
            .equipo {
                display: flex;
                justify-content: center;
                .equipo__ella {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 332px;
                    .ella__img {
                        width: 200px;
                    }
                 }
                .equipo__descripcion {
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    height: 70px;
                    padding: 0;
                    .equipo__titulo {
                        font-size: $text-base;
                    }
                    .equipo__profesion {
                        font-size: $text-small;
                    }
                }
            }
        }
    }
    
  
    #hacemos {
        .hacemos__container {
        height: 800px;
    }
    }

    /*CONTACTO*/
    #contacto{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-content: center;
        padding: $spacing-small;
        width: 100%;
        background-color: black;
        background-image:none;
        .container {
            height: 500px;
            .ubicacion{ 
                width: 320px; 
                .ubicacion__direccion {
                    width: 200px;
                    display: inline;
                    p {
                    font-size: $text-xsmall;
                    }
                    h3 {
                    font-size: $text-base;
                    }
                }
            }
            .formulario{ 
                display: flex;
                justify-content: center;
                width: 320px;
                padding: $spacing-small;
                & h3{ 
                    font-size: $text-base;}
                .form__text {
                        font-weight: bold;
                }
                .boton {
                        font-weight: bold;
                }
            }
        }
        
    } 
    #proximamente {
        .textprox {
            padding: 2rem;
        }
        .contentprox {
            .imgprox { 
                height: 550px;
                width: 304px;          
            }
        }     
    }  
}

/*MEDIA 576PX*/
@media screen and (min-width:577px) and (max-width:1200px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        padding: $spacing-xsmall;
        height: 500px;
    }
    .section__titulo {
        text-align: center;
        margin: 10px;
        padding: $spacing-xsmall;
        font-size: $text-medium;
    }

  /*HACEMOS*/
    #enfoque {
    height: 600px;
        .container {
            .detalle {
                .detalle__texto {
                display: flex;
                align-items: center;
                width: 500px;
                height: 221px;
                padding: $spacing-small;
                .detalle__descripcion {
                text-align: justify;
                font-size: x-small;
                width: 500px;
                height: 147px;  
                }   
            }    
        }
    }        
    .loop__logo {
        .loop__video {
            width: 500px;
            height: 300px;
            }
        }    
    }

    /*NOSOTRAS*/

    #nosotras {
        .container {
            display: flex;
            justify-content: center;
            height: 500px;
            .equipo {
                width: 250px;
                &__descripcion {
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    height: 120px;
                }
                &__titulo {
                    font-size: $text-medium;
                }
                &__profesion {
                    font-size: $text-base;
                } 
            }
        } 
    }
      

    /*HACEMOS*/
    #hacemos{
        .hacemos__container {
            height: 1000px;
        }
    }
    #proximamente {
        .contentprox {
            .imgprox { 
                width: 550px;          
            }
        }     
    }
}
