/*Normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* rem y em = miden 10px*/
}

/*Generals*/

body {
    height: 100%;
    background-color: $primary;
    font-family: $font-principal;
    color: $text-color;
}


h1, h2, h3, h4, h6{
    font-family: $font-title;
   
}
h3 {
    font-size: $text-medium;
    text-align: center;
    
}
.section__titulo {
    text-align: center;
    margin: 30px;
    font-size: 4rem;
    padding: $spacing-xsmall;
    font-size: $text-large;
}

p {
    font-size: $text-base;
    text-align: center;
}

img {
    width: 100%;
}

.container {
    display: flex;  
    justify-content: space-around;
    flex-flow: row wrap; 
    align-content: center;
    height: 600px;
    padding: $spacing-xsmall;
}

